.header{
	background-color:#669;
	width:360px;

}
.left{
	background-color:#69C;
	float: left;
	width: 180px;
	height: 160px;

}
.right{
	background-color:#99C;
	float: left;
	width:180px;
	height:160px;
}
.footer{
	background-color: purple;
	clear: left;
	height: 50px;
	width: 360px;
}